@model List<User>

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>ad</th>
            <th>soyad</th>
            <th>email</th>
            <th>resim</th>
            @*<th>Bayrak</th>
*@
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.id</td>
                <td>@user.first_name</td>
                <td>@user.last_name</td>
                <td>@user.email</td>
                <td>@user.avatar</td>   
               
            </tr>
        }
    </tbody>
</table>
