@using YemekSitesi.Web.Models.Dtos
@model FoodDetailsDto
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

<style>
    body{
        background-color: #F5EDDC;
    }
    .resim{
        width:75%;
        height:60%;
        border:1px solid gray;
        border-radius:5px;
       
    }
    .ıcerik1{
       
       padding-left:15%;
    }
    .ıcerik2 {
        padding-left: 5%;
    }
    .fav-btn {
        background-color: rgb(215, 60, 52);
    }
    .favori{
        padding-left: 68%;
    }
    .a{color:#E7484F}
    .b {color: #F68B1D }
    .c { color: #FCED00}
    .d {color: #009E4F }
    .e { color: #00AAC3}
    .f { color: #732982}
    .container{
        margin-top:50px;
    }
    .text-center{
        text-align:center;
    }
    .rainbow{
        background-color:#343A40;
        border-radius:4px;
        color:#fff;
        cursor:pointer;
        padding:8px 16px;
    }
    .rainbow:hover{
        background-image:   linear-gradient(
            to right,
            #E7484F, 
            #E7484F 16.65%,
            #F68B1D 16.65%,
            #F68B1D 33.3%,
            #FCED00 33.3%, 
            #FCED00 49.95%,
            #009E4F 49.95%,
            #009E4F 66.6%,
            #00AAC3 66.6%,
            #00AAC3 83.25%,
            #732982 83.25%,
            #732982 100%,
            #E7484F 100%
          
        );
        font-weight: bold;
    }
    
</style>

<body>
    <div class="row ">
        <div class="col d-flex justify-content-center ">
            <h2 class="text-success">@Model.Name</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10 ">
           
            <div class="d-flex justify-content-center">
                <img src="/images/@Model.ImageUrl" class=" resim" alt="...">

            </div>
        </div>
    </div>

    <div class="row">
        <form class="col-10 favori text-center " asp-controller="Favorite"
              asp-action="AddToFavorite"
              method="post">
            <input type="hidden" name="foodId" value="@Model.Id" />
            <input type="hidden" name="favortiteNumber" value="1" />
            <button type="submit" class="btn bg-danger favori mt-2 rainbow "><i class="fa-solid fa-heart text-white me-1"></i>Favoriye Ekle</button>
        </form>
       
    </div>
    <div class="row mt-3">
        <div class="col-12 ps-5  d-flex flex-row   ">
            <div class="col-6 ıcerik1  ">

                <h2 class="card-title fs-5 text-secondary">@Model.Name</h2>
                <label class="fs-5 fw-bold text-success">Malzemeler</label>
                <p class="card-text">@Html.Raw(Model.Material)</p>
                <br />
            </div>
            <div class="col-6 ıcerik2">
                <label class="fw-bold text-success">Hazırlanma ve Pişirme Süresi</label>
                <h4 class="card-text">@Model.CookingTime</h4>

               
            </div>
        </div>
    </div>

    <div class="row mt-3 d-flex justify-content-center">
        <div class="col-11 ıcerik1">
            <label class="fs-5 fw-bold text-success">@Model.Name Tarifi Nasıl Yapılır</label>
            <p class="card-text">@Html.Raw(Model.Description)</p>
        </div>  
    </div>

    <div class="row border border-danger mt-5">
        <form class="col-12 " asp-controller="Comment"
              asp-action="Create"
              method="post">
            <input type="hidden" name="CommentAddDto.foodId" value="@Model.Id" />
            

            <input type="hidden" name="favortiteNumber" value="1" />
           <textarea class="w-100" asp-for="CommentAddDto.Message"> </textarea> 
           <button type="submit" class="btn btn-danger" >Gönder</button>
        </form>

    </div>

        @foreach (var comment in Model.Comments)
        {
        <div class="col-md-3">
            <div class="card rounded-3  mt-2 border border-secondary border-3" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="card-title fs-3"></h5>
                    <h6 class="card-subtitle mb-2 text-muted"> Tarifleri</h6>
                    <p class="card-text">@comment.Message</p>
                    <p class="card-text">@comment.CreatedDate</p>

                    <a class="btn btn-outline-success"
                   asp-controller="Comment"
                   asp-action="Edit"
                 
                   asp-route-id="@comment">Düzenle</a>

                    <a class="btn btn-outline-danger"
                   asp-controller="Comment"  
                   asp-action="Delete"
                  
                   asp-route-id="@comment">Sil</a>
                </div>
            </div>
        </div>
        }

</body>

